

/coffeeTable/.idea/.name
/coffeeTable/.idea/T1064300_Final_Project.iml
/coffeeTable/.idea/dataSources.ids
/coffeeTable/.idea/dataSources.xml
/coffeeTable/.idea/encodings.xml
/coffeeTable/.idea/misc.xml
/coffeeTable/.idea/modules.xml
/coffeeTable/.idea/vcs.xml
/coffeeTable/.idea/workspace.xml
