{% extends "base.html" %}
{% load static %}
{% block content %}
	<div>

		<h1>Your Albums</h1>
		
		{% if album_list %}
			<ul class="thumbnails">
				
				{% if working_album %}
					<li class="span3">
						<div class="thumbnail">
							<a href="/create_album/">
								<img src="{% get_static_prefix %}img/empty.png" alt="Under Construction" />
								<h5>Under Construction</h5>
								<p>Continue editing...</p>
							</a>
						</div>
					</li>
				{% endif %}
				
				{% for album in album_list %}
					<li class="span3">
						<div class="thumbnail">
							<a href="/albums/{{ album.id }}/">
								<img src="{{ album.thumbnail.uri }}" alt="{{ album.title }}" />
								<h5>{{ album.title }}</h5>
								<p>{{ album.description }}</p>
							</a>
						</div>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>You haven't created any albums yet.</p>
			<p>What are you waiting for?</p>
			<a class="btn" href="/create_album/">Get Creating...</a>
		{% endif %}

	</div>
{% endblock %}
