{% extends "base.html" %}
{% load static %}

{% block content %}



    <form action='' method='post'>
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">
    {% csrf_token %}
    <input type="submit" value="login" />
    <!--set next to redirect to front page-->
    <input type="hidden" name="next" value="/" />
</form>
	   
{% endblock %}