{% extends "base.html" %}
{% load static %}

{% block content %}

	<div>
		<h1>Save your album</h1>
		
		<div class="tried_to_edit">
			
			<p>Looks like you're still editing another album. </p>
			<p>Save and finish that one before editing another. </p>
			
		</div>

		<div class="step">
	
			<h3>1. Choose a name</h3>
			<form class="form-inline" action="/create_album/finish/" method="post">
				{% csrf_token %}
				<label for="title">Album name:</label>
				{% if a.temp_title != NULL %}
				<input type="text" class="input-large" name="title" id="title" value="{{ a.temp_title }}" /></br>	
				{% else %}
				<input type="text" class="input-large" name="title" id="title" value="eg. Summer Lovin'" /></br>	
				{% endif %}
				{% if tried_to_edit %}
				<input type="hidden" name="tried_to_edit" value="True">
				{% else %}
				<input type="hidden" name="tried_to_edit" value="False">
				{% endif %}
	
				<input type="submit" value="Finish" />
				
			</form>
			
		</div>
	
	</div>










{% endblock %}